.dialogs {
  margin-right: 10px;
  width: 300px;
  border-right: 1px solid;

  &__item {
    cursor: pointer;
  }

  &__content-preview {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
    padding-right: 10px;
  }

  .ant-comment-content-author-name {
    max-width: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
